{%- extends "base.html" %}
{% block title %}Results list{% endblock %}
{% block content %}
    <h1>Results list</h1>
    <table class="table">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">File name</th>
        <th scope="col">Processed</th>
        <th scope="col">Status</th>
        </thead>
        <tbody>
        {% for work in work_list %}
            <tr scope="row">
                <td><a href="/result/{{ work.id }}">{{ work.id }}</a></td>
                <td>{{ work.title }}</td>
                <td>{{ work.author }}</td>
                <td>{{ work.filename }}</td>
                <td>{{ work.processed }}</td>
                <td>{{ work.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}